body {
        font-family: "Roboto",
            sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {list-style-type: none;}

a {text-decoration: none;}

.title {
color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1, 11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1,2;
        letter-spacing: 0.4px;
}

.text {
    color: #434455;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.32px;
}
/* === HEADER === */
.logo {
    color: #2E2F42;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1,166;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.logo span {
    color:  #4D5AE5;    
}

.menu-item a {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1,5;
        letter-spacing: 0.32px;
}

.address-item a {
    color: inherit;
        font-size: 16px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.address-item a:hover {
color: #4D5AE5;
}

.address-item a:focus {
color: #4D5AE5;
}
/* ============== */

/* === HERO === */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1,5;
        letter-spacing: 0.64px;
    cursor: pointer;
}

.hero-btn:active {
    background-color: #404BBF;
}
/* ============= */

/* === VALUES === */
.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ============== */

/* === TEAM === */
.team {
    background-color: #F4F4FD;
}

.team-member {
    background-color: #FFFFFF;
}
/* ============== */

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-logo {
    color: inherit;
}

.footer-text {
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.32px;
}